<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<%- include("partials/errors.ejs") %>

<fieldset>
    <legend><%= title %></legend>
    <form action="/item/<%= item.id %>/update" method="post">
        <div class="form-control">
            <label for="item-name">Name: </label>
            <input type="text" name="name" id="item-name" value="<%= item.name %>"/>
        </div>
        <div class="form-control">
            <label for="category">Category:</label>
            <select name="categoryId" id="category">
                <% categories.map((category)=>{ %>
                    <option value="<%= category.id %>"
                    <% if (category.id = item.categoryId) { %> selected
                            <% } %>
                    ><%= category.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-control">
            <label for="item-quantity">Quantity: </label>
            <input
                    type="number"
                    name="quantity"
                    id="item-quantity"
                    value="<%= item.quantity %>"
            />
        </div>
        <div class="form-control">
            <label for="item-price">Price: </label>
            <input
                    type="number"
                    name="price"
                    id="item-price"
                    value="<%= item.price %>"
            />
        </div>

        <button type="submit">Update</button>
    </form>
</fieldset>
</body>
</html>
